<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" role="button">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipe of recipes"></app-recipe-item>
  </div>
</div>